@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px !important;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222a35;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626970;
}

::-webkit-backdrop-filter {
  blur: 3px saturate(106%);
}
.nav-button {
  background-color: transparent;
  border: 2px solid white; /* Purple border */
  border-radius: 20px; /* Rounded corners */
  padding: 8px 20px; /* Slightly larger padding */
  color: white; /* Purple text */
  font-weight: bold;
  font-size: 15px; /* Slightly larger font size */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.nav-button:hover {
  background-color: white; /* Purple background on hover */
  color: white; /* White text on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
}




